@(parentCategories: List[Category])

@layout.main("Sign up", "signup-page") {
    <div class="signup">
        <div class="logo mb-3" style="font-size: 24px;">
            <span class="logo--ra">Ra</span>
            <span class="logo--learn">Learn</span>
        </div>

        <div id="categories-page">
            <div class="d-flex mb-4">
                <i class="fas fa-arrow-left me-4"></i>
                @_progressBar(1, 4)
            </div>

            <h3 class="text-center mb-4">What categories are you interested in?</h3>
            <div class="category-pills">
                @for(parentCategory <- parentCategories) {
                    <a class="category-pill d-block" data-subcategories-div-id="id-category-@parentCategory.id-subcategories" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex ms-4">
                                <div class="category-pill--icon me-3"><i class="@parentCategory.faIconClass"></i></div>
                                <div class="category-pill--text">@parentCategory.title</div>
                            </div>
                            <div class="me-3">
                                <div class="category-pill--icon"><i class="fas fa-circle"></i></div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="fixed-bottom-btn-group">
                <a class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>

        <div id="subcategories-page" style="display: none;">
            <div class="d-flex mb-4">
                <i class="fas fa-arrow-left me-4"></i>
                @_progressBar(2, 4)
            </div>

            <h3 class="text-center mb-4">Follow topics you're interested in to get recommendations?</h3>
            @for(parentCategory <- Category.findParentCategories()) {
                <div id="id-category-@parentCategory.id-subcategories" style="display: none;">
                    @for(category <- Category.findCategoriesByParent(parentCategory.id)) {
                        <a class="category-pill d-block" data-subcategory-id="@category.id" href="#">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex ms-4">
                                    <div class="category-pill--icon me-3"><i class="@category.faIconClass"></i></div>
                                    <div class="category-pill--text">@category.getTitle()</div>
                                </div>
                                <div class="me-3">
                                    <div class="category-pill--icon"><i class="fas fa-circle"></i></div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            <div class="fixed-bottom-btn-group fixed-bottom-btn-group--scroll-blur">
                <a class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>

        <div id="email-password-page" class="email-password-page" style="display: none;">
            <div class="d-flex mb-4">
                <i class="fas fa-arrow-left me-4"></i>
                @_progressBar(3, 4)
            </div>

            <h3 class="text-center mb-4">Welcome to RaLearn. What's your email?</h3>
            <div class="text-start mb-4">
                <label for="id-signup-email" class="form-label">Email</label>
                <input type="email" id="id-signup-email" maxlength="40">
                <div id="id-signup-email-error" class="error text-start mt-2" style="display: none;"></div>
            </div>

            <div class="text-start mb-4 position-relative">
                <label for="id-signup-password" class="form-label d-flex justify-content-between d-block">
                    <div>Choose a Password</div>
                    <div>(8+ characters)</div>
                </label>
                <input type="password" id="id-signup-password">
                <a id="id-signup-show-password" class="position-absolute top-50 end-0 me-3" href="#"><i class="fa fa-eye"></i></a>
                <div id="id-signup-password-error" class="error text-start position-fixed mt-2" style="display: none;"></div>
            </div>

            <div class="fixed-bottom-btn-group">
                <a id="id-signup-email-password-continue-btn" class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>
    </div>
}