@(parentCategories: List[Category])

@layout.main("Sign up", "signup-page") {
    <div class="signup">
        <div class="logo" style="font-size: 24px;">
            <span class="logo--ra">Ra</span>
            <span class="logo--learn">Learn</span>
        </div>

        @sp(4)

        <div id="interests-page">
            <div class="d-flex">
                <a href="/"><i class="fas fa-arrow-left me-4"></i></a>
                @_progressBar(1, 4)
            </div>

            @sp(4) @sp(4)

            <h4 class="text-center">What are you interested In?</h4>
            <div class="option-pills">
                @for(parentCategory <- parentCategories) {
                    <a class="option-pill d-block" data-interest-categories-div-id="id-interest-@parentCategory.id-categories" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex ms-4">
                                <div class="option-pill--icon me-3"><i class="@parentCategory.faIconClass"></i></div>
                                <div class="option-pill--text">@parentCategory.title</div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="fixed-bottom-btn-group">
                <a class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>

        <div id="categories-page" style="display: none;">
            <div class="d-flex">
                <a class="signup--back-btn" href="/"><i class="fas fa-arrow-left me-4"></i></a>
                @_progressBar(2, 4)
            </div>

            @sp(4) @sp(4)

            <h4 class="text-center">Which categories would you like to explore?</h4>
            @for(parentCategory <- Category.findParentCategories()) {
                <div id="id-interest-@parentCategory.id-categories" style="display: none;">
                    @for(category <- Category.findCategoriesByParent(parentCategory.id)) {
                        <a class="option-pill d-block" data-category-id="@category.id" href="#">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex ms-4">
                                    <div class="option-pill--icon me-3"><i class="@category.faIconClass"></i></div>
                                    <div class="option-pill--text">@category.getTitle()</div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            <div class="fixed-bottom-btn-group fixed-bottom-btn-group--scroll-blur">
                <a class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>

        <div id="email-password-page" class="email-password-page" style="display: none;">
            <div class="d-flex">
                <a class="signup--back-btn" href="/"><i class="fas fa-arrow-left me-4"></i></a>
                @_progressBar(3, 4)
            </div>

            @sp(4) @sp(4)

            <h4 class="text-center">We're almost there! Add Your details to complete the setup.</h4>

            <div class="text-start">
                <label for="id-signup-firstname" class="form-label">First Name</label>
                <input type="text" id="id-signup-firstname" maxlength="50" autofocus>
                <div id="id-signup-firstname-error" class="error text-start mt-2" style="display: none;"></div>
            </div>

            @sp(4)

            <div class="text-start">
                <label for="id-signup-lastname" class="form-label">Last Name (Optional)</label>
                <input type="text" id="id-signup-lastname" maxlength="50">
                <div id="id-signup-lastname-error" class="error text-start mt-2" style="display: none;"></div>
            </div>

            @sp(4)

            <div class="text-start">
                <label for="id-signup-email" class="form-label">Email</label>
                <input type="email" id="id-signup-email" maxlength="254">
                <div id="id-signup-email-error" class="error text-start mt-2" style="display: none;"></div>
            </div>

            @sp(4)

            <div class="text-start position-relative">
                <label for="id-signup-password" class="form-label d-flex justify-content-between d-block">
                    <div>Choose a Password</div>
                    <div>(8+ characters)</div>
                </label>
                <input type="password" id="id-signup-password" maxlength="64">
                <a id="id-signup-show-password" class="position-absolute top-50 end-0 me-3" href="#"><i class="fa fa-eye"></i></a>
                <div id="id-signup-password-error" class="error text-start position-fixed mt-2" style="display: none;"></div>
            </div>

            @sp(4)

            <div class="fixed-bottom-btn-group">
                <a id="id-signup-email-password-continue-btn" class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>
    </div>
}