@(parentCategories: List[Category])

@main("RaLearn") {
    <div class="signup">
        <div class="container-fluid">
            <h2 class="mb-5">What categories are you interested in?</h2>
            @for(parentCategory <- parentCategories) {
                <div class="category-pill">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex ms-4">
                            <div class="category-pill--icon me-3"><i class="@parentCategory.faIconClass"></i></div>
                            <div class="category-pill--text">@parentCategory.title</div>
                        </div>
                        <div class="me-3">
                            <div class="category-pill--icon"><i class="fas fa-circle"></i></div>
                        </div>
                    </div>
                </div>
            }

            <div class="fixed-bottom-btn-group">
                <a class="signup--continue-btn btn btn-primary disabled" href="#">Continue</a>
            </div>
        </div>
    </div>
}