@(user: User)

@main("RaLearn") {
    <div class="signup">
        <div class="container-fluid">
            <div id="welcome-page" class="welcome-page">
                <h2 class="mb-5">Nice to meet you, @user.email</h2>
                <p>We’re all set to generate a personalized book feed based on your selections. You can also explore recent suggestions on the next page.</p>
                <p>Click 'Begin' to start your journey!</p>
                <div class="fixed-bottom-btn-group">
                    <a class="signup--continue-btn btn btn-primary" href="#">Begin</a>
                </div>
            </div>
        </div>
    </div>
}