/** ffd700 **/
.home {
    &-section-1 {
        &--tab {
            color: #183153;
            background: #FFD700;
        }

        &--book-card {
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            //height: 200px;
        }

        &--book-card-left-col {
            width: 25%
        }

        &--book-card-right-col {
                width: 25%
        }

        img {
            width: 100px;
            border-radius: 10px;
            border: 3px solid #FFD700; /* Add border to images */
            transition: border-color 0.3s ease;
        }

        &--book-title {
            font-family: 'Merriweather', serif;
            font-size: 18px;
            color: #333333;
        }

        &--author {
            color: #666666;
            font-size: 16px;
        }
    }
}

.book {
    &--cover-section {
        background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        padding-top: 90px;
        padding-bottom: 45px;

        &-image {
            width: 140px;
            //height: 180px;
            object-fit: cover;
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
            border: 4px solid #e0e0e0;
            transition: border-color 0.3s ease;
       }
    }

    &--details {
        &-title {
            font-size: 24px;
            font-weight: 600;
        }

        &-author {
            font-weight: 600;
        }
    }
}
