.card-1 {
    background-color: #fffbea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #3A3A30;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    &--title {
        font-size: 20px;
        font-weight: 700;
    }

    &--author {
        font-size: 14px;
        font-weight: 400;
    }

    &--category {
        background-color: #FFD700;
        color: #3A3A30;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
    }

    &--summary {
        font-size: 12px;
        font-weight: 300;
    }

    &--cover-image {
        border-radius: 10px;
        width: 110px;
        height: auto;
        //height: 175px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid #FFD700;
        transition: border-color 0.3s ease;
        margin-top: -15px;
        margin-right: -23px;
    }
}

.card-2 {
    //background-color: #FAF8BD;
    //background: linear-gradient(135deg, #ffeb99 0%, #ffe066 100%);
    //-> background: linear-gradient(135deg, #fffae6 0%, #ffe680 100%);
    background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
    border-radius: 20px;
    //box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #003366;
    margin-bottom: 36px;

    &:nth-child(even) {
        background: linear-gradient(135deg, #fff9e6 0%, #ffe6b3 100%);
    }

    /* &:nth-child(odd) {
        background: linear-gradient(135deg, #ffe5b4 0%, #ffcc00 100%);
    } */

    &--cover-image {
        //border-radius: 10px;
        //width: 120px;
        //height: auto;
         width: 120px;
        height: 180px;
        object-fit: cover;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
        //border: 2px solid #FFD700;
        border: 4px solid #e0e0e0;
        transition: border-color 0.3s ease;
    }

    &--title {
        font-size: 16px;
        font-weight: 600;
    }

    &--category-icon-circle {
        width: 25px;
        height: 25px;
        border: 1px solid #003366;
        border-radius: 50%;
    }

    &--category-icon {
        font-size: 12px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    &--author {
        font-size: 12px;
        font-weight: 400;
    }

    &--category {
        background-color: #FFD700;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
    }

    &--summary {
        font-size: 12px;
        font-weight: 400;
    }

    &--icon-buttons {
        width: 75%;
    }
}

.card-3 {
    color: #003366;
    margin-bottom: 36px;
    max-width: 230px;

    &--cover-image {
        width: 120px;
        height: 180px;
        object-fit: cover;
        border: 4px solid #003366;
    }

    &--title {
        font-size: 16px;
        font-weight: 600;
        max-width: 200px;
        //white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &--category-icon-circle {
        width: 25px;
        height: 25px;
        border: 1px solid #003366;
        border-radius: 50%;
    }

    &--category-icon {
        font-size: 12px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    &--author {
        font-size: 12px;
        font-weight: 400;
    }

    &--category {
        background-color: #FFD700;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
    }

    &--summary {
        font-size: 12px;
        font-weight: 400;
        max-width: 200px;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &--icon-buttons {
        width: 75%;
    }
}

