body {
    //background-color: rgba(244,241,234,0.5);
    //color: #333333;
    color: #3A3A30;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.75px;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'Merriweather', serif;
    color: #333333;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

.container-fluid {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    color: #FFC107;
}


.button, .btn {
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2509803922);
    border-radius: 31.5px;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
}

.btn-primary {
    background: linear-gradient(269.4deg, #EFE825 -3.26%, #D7D319 98.79%);
    color: #3A3A30;

    &.disabled {
        color: rgba(60, 60, 60, 0.75);
        background: linear-gradient(269.4deg, #F3EFAA -3.26%, #F7F3C4 98.79%);
    }
}

.button:hover {
    background-color: #FFC107;
}

.secondary-button {
    background-color: #607D8B;
    color: #FFFFFF;
}

.secondary-button:hover {
    background-color: #455A64;
}

.fixed-bottom-btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
}