// Page level

.login-page, .signup-page {
    .container-fluid {
        @include md-and-up {
            box-shadow: none;
            border: none;
        }
    }
}

.book-page {
    .container-fluid {
        padding-top: 0;
    }
}


// Login

.login {
    margin-top: 120px;
}

// Signup

.signup {
    .option-pill {
        border: 1px solid #d3d3d3;
        border-radius: 25px;
        filter: drop-shadow(0px 2px 4px rgba(51, 16, 50, 0.15));
        margin-bottom: 18px;
        padding-top: 12px;
        padding-bottom: 12px;

        &.selected {
            background: #fffcdd;
            border-color: #ffcc00;
            box-shadow: 0 4px 12px rgba(255, 204, 0, 0.3);

            .category-pill--icon {
                //color: #D7D319;
                //color: #FFCC00;
                color: #E3B500;
            }
        }

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .email-password-page {
        .fa-eye {
            color: #3A3A30;
            opacity: 0.6;
            font-size: 20px;
        }
    }
}

// Home

.home {
    &--top-section {
        margin-top: 8px;
        &-icon {
            font-size: 24px;
        }
    }

    &--more-link {
        font-weight: 700;
        color: #191970;
    }
}

.book {
    &--cover-section {
        //background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
        //background: linear-gradient(135deg, #fffde7 0%, #ffeb99 100%);
        background: radial-gradient(circle, #fff9d6 40%, #ffe082 100%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        margin-left: -16px;
        margin-right: -16px;
        padding-top: 70px;
        padding-bottom: 30px;
        margin-bottom: 32px;
        @include md-and-up {
            margin-left: -24px;
            margin-right: -24px;
        }

        &-image {
            width: 140px;
            //height: 180px;
            object-fit: cover;
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
            border: 4px solid #e0e0e0;
            transition: border-color 0.3s ease;
       }
    }

    &--details {
        &-title {
            font-size: 24px;
            font-weight: 600;
        }

        &-author {
            font-weight: 600;
        }
    }

    &--tabs {
        .nav {
            margin-bottom: 36px;
        }

        .nav-pills {
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }

        .nav-pills .nav-link {
            color: #003366;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }

        .nav-pills .nav-link.active {
            background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
        }
    }
}

.discover {
    &--hamburger-icon {
        font-size: 26px;
    }

    &--search-bar  {
        &-icon {
            font-size: 25px;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            opacity: 0.8;
        }

        input {
            padding-left: 60px;
        }
    }

    &--category-block, &--preferred-subcategory-block {
        background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 22px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &-variation {
            background: linear-gradient(135deg, #E3F2FD, #BBDEFB);
        }

        &:hover {
            background: linear-gradient(135deg, #FFF9D1, #FFE59A);
            transform: translateY(-2px);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
        }

        &:active {
            background: linear-gradient(135deg, #FFE5A0, #FFD480);
            transform: scale(0.98);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        }

        &-text {
            font-size: 18px;
        }

        &-icon {
            font-size: 20px;
            opacity: 0.8;
        }
    }

    &--category-block {
        height: 90px;
    }

    &--preferred-subcategory-block {
        height: 50px;
    }
}

.feedback {
    &--div {
        margin-top: 80px;
    }

    &--success-icon {
        font-size: 80px;
        text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.3);
        //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        /* background: radial-gradient(circle, #FFD700 20%, #C0A340 50%, #3A3A87 100%);//radial-gradient(circle, #FFD700 30%, #3A3A87 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
}


.discover-results {
    &--subcategory-block {
        background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
        border-radius: 5px;
        height: 36px;
        margin-bottom: 22px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:nth-child(even) {
            background: linear-gradient(135deg, #fff9e6 0%, #ffe6b3 100%);
        }

        &-text {
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.profile {
    &--item-edit-link {
        color: #4169E1;
    }

    &--item-categories {
        font-size: 14px;
        max-width: 210px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

// Legacy

.home {
    &-section-1 {
        &--tab {
            color: #183153;
            background: #FFD700;
        }

        &--book-card {
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            //height: 200px;
        }

        &--book-card-left-col {
            width: 25%
        }

        &--book-card-right-col {
                width: 25%
        }

        img {
            width: 100px;
            border-radius: 10px;
            border: 3px solid #FFD700; /* Add border to images */
            transition: border-color 0.3s ease;
        }

        &--book-title {
            font-family: 'Merriweather', serif;
            font-size: 18px;
            color: #333333;
        }

        &--author {
            color: #666666;
            font-size: 16px;
        }
    }
}

//



//

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    height: 100vh;
    background-color: #f8faf9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1090;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;

    .accordion-body {
        i {
            width: 30px;
        }
    }
}

.side-menu.open {
    transform: translateX(0);
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
