body {
  color: #3A3A30;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.75px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 80px;
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #FFC107;
}

input, select {
  color: #3A3A30;
  letter-spacing: 0.75px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(87, 79, 107, 0.25);
  box-shadow: 0px 3px 8px rgba(49, 49, 49, 0.1);
  border-radius: 5px;
  width: 100%;
  height: 55px;
  padding-left: 16px;
  padding-right: 16px;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

.error {
  background-color: #fce8e6;
  color: #d93025;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.error, .success {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.button, .btn {
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 31.5px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
}

.btn-primary {
  background: linear-gradient(269.4deg, #EFE825 -3.26%, #D7D319 98.79%);
  color: #3A3A30;
}
.btn-primary.disabled {
  color: rgba(60, 60, 60, 0.75);
  background: linear-gradient(269.4deg, #F3EFAA -3.26%, #F7F3C4 98.79%);
}

.button:hover {
  background-color: #FFC107;
}

.secondary-button {
  background-color: #607D8B;
  color: #FFFFFF;
}

.secondary-button:hover {
  background-color: #455A64;
}

.fixed-bottom-btn-group {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.fixed-bottom-btn-group--scroll-blur {
  background: linear-gradient(to top, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0));
  filter: drop-shadow(0px -20px 20px rgb(255, 255, 255));
}
@media (min-width: 768px) {
  .fixed-bottom-btn-group--scroll-blur {
    background: none;
    filter: none;
  }
}

.signup .category-pill {
  border: 1px solid rgba(87, 79, 107, 0.25);
  border-radius: 100px;
  filter: drop-shadow(0px 2px 4px rgba(51, 16, 50, 0.15));
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.signup .category-pill.selected {
  background: #FFFFF0;
  border: 1px solid rgba(126, 80, 154, 0.15);
}
.signup .category-pill.selected .category-pill--icon {
  color: #D7D319;
}
.signup .email-password-page .fa-eye {
  color: #3A3A30;
  opacity: 0.6;
  font-size: 20px;
}

/** ffd700 **/
.home-section-1--tab {
  color: #183153;
  background: #FFD700;
}
.home-section-1--book-card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-section-1--book-card-left-col {
  width: 25%;
}
.home-section-1--book-card-right-col {
  width: 25%;
}
.home-section-1 img {
  width: 100px;
  border-radius: 10px;
  border: 3px solid #FFD700; /* Add border to images */
  transition: border-color 0.3s ease;
}
.home-section-1--book-title {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #333333;
}
.home-section-1--author {
  color: #666666;
  font-size: 16px;
}

/*# sourceMappingURL=app.css.map */
