@import "sass/_mixins";
@import "sass/global-styles";
@import "sass/_pages";

// Components

.category-pill-small {
    border-radius: 20px;
    background: #E1ECF2;
    padding-top: 2px;
    padding-bottom: 2px;
    width: fit-content;
}

.rating-pill {
    background: #FFD700;
    border-radius: 20px;
    padding: 4px 10px;
    width: fit-content;
}

.card-2 {
    //background-color: #FAF8BD;
    //background: linear-gradient(135deg, #ffeb99 0%, #ffe066 100%);
    //-> background: linear-gradient(135deg, #fffae6 0%, #ffe680 100%);
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #fff5cc 0%, #ffeb99 100%);
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    color: #003366;

    &:nth-child(even) {
        // original => background: linear-gradient(135deg, #fff9e6 0%, #ffe6b3 100%);
        //background: linear-gradient(135deg, #ffe0b2 0%, #ffb74d 100%);
        //background: linear-gradient(135deg, #e6f7ff 0%, #ccf2ff 100%);
        background: linear-gradient(135deg, #E3F2FD, #BBDEFB);
    }

    /* &:nth-child(odd) {
        background: linear-gradient(135deg, #ffe5b4 0%, #ffcc00 100%);
    } */

    &--cover-image {
        width: 120px;
        height: 180px;
        object-fit: cover;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
        //border: 2px solid #FFD700;
        border: 4px solid #e0e0e0;
        transition: border-color 0.3s ease;
    }

    &--category-icon-circle {
        width: 25px;
        height: 25px;
        border: 1px solid #003366;
        border-radius: 50%;
    }

    &--category {
        background-color: #FFD700;
        border-radius: 5px;
    }

    &--icon-buttons {
        width: 85%;
    }
}

.card-3 {
    color: #003366;
    max-width: 230px;
    //margin-bottom: 36px;
    //min-height: 285px;

    &--cover-image {
        width: 100px;
        height: 150px;
        object-fit: cover;
        border: 4px solid #003366;
    }

    &--title {
        max-width: 200px;
        //white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        min-height: 25px;
    }

    &--category-icon-circle {
        width: 25px;
        height: 25px;
        border: 1px solid #003366;
        border-radius: 50%;
    }

    &--category-icon {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    &--category {
        background-color: #FFD700;
        border-radius: 5px;
    }

    &--summary {
        max-width: 200px;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        //max-height: 3em;
        min-height: 38px;
    }

    &--icon-buttons {
        width: 75%;
    }
}

.card-4 {
    &--cover-image {
        //width: 80px;
        height: 105px;
        object-fit: cover;
        border: 4px solid #003366;
    }

    &--title {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        min-height: 25px;
    }

    &--summary {
        white-space: normal;
        text-overflow: ellipsis;
    }

    &--action-buttons {
        color: #0B4F9E;
        //color: #1565C0;
    }
}

.quote {
    background: #f9f6ee;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-left: 4px solid #ffd700;

    i {
        color: #ffd700;
    }

    &--text {

    }

    &--author {
        //color: #757165;
        color: #6c757d;
    }
}

.rate-book {
    &--star-icon {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    &--star-icon.fa-regular {
        color: #D3D3D3;
    }

    &--star-icon.selected {
        color: #FFD700;
    }

    &--star-icon:hover {
        transform: scale(1.2);
    }

    &--modal {
        .modal-content {
            border-radius: 25px;
        }

        .modal-body {
            margin-top: -20px;
        }
    }
}