@(activeTabName: String)

<nav class="footer-nav-bar navbar bg-white fixed-bottom text-center py-0">
    <div class="d-flex justify-content-around px-4 w-100">
        <a @if(activeTabName == "home-tab"){class="active"} onclick="event.preventDefault(); homeGet();" href="#">
            <i class="footer-nav-bar--icon fas fa-home"></i>
            <span class="footer-nav-bar--icon-text">Home</span>
        </a>
        <a @if(activeTabName == "discover-tab"){class="active"} onclick="event.preventDefault(); discoverGet();" href="#">
            <i class="footer-nav-bar--icon fas fa-search"></i>
            <span class="footer-nav-bar--icon-text">Discover</span>
        </a>
        <a @if(activeTabName == "feedback-tab"){class="active"} onclick="event.preventDefault(); feedbackGet();" href="#">
            <i class="footer-nav-bar--icon fas fa-comment-dots"></i>
            <span class="footer-nav-bar--icon-text">Feedback</span>
        </a>
        <a @if(activeTabName == "profile-tab"){class="active"} onclick="event.preventDefault();profileGet();" href="#">
            <i class="footer-nav-bar--icon fas fa-user"></i>
            <span class="footer-nav-bar--icon-text">Profile</span>
        </a>
    </div>
</nav>