<nav class="footer-nav-bar navbar bg-white fixed-bottom text-center py-0 d-md-none">
    <div class="d-flex justify-content-around px-4 w-100">
        <a href="#">
            <i class="footer-nav-bar--icon fas fa-home"></i>
            <span class="footer-nav-bar--icon-text">Home</span>
        </a>
        <a href="#">
            <i class="footer-nav-bar--icon fas fa-search"></i>
            <span class="footer-nav-bar--icon-text">Discover</span>
        </a>
        <a href="#">
            <i class="footer-nav-bar--icon fas fa-comment-dots"></i>
            <span class="footer-nav-bar--icon-text">Feedback</span>
        </a>
        <a href="#">
            <i class="footer-nav-bar--icon fas fa-user"></i>
            <span class="footer-nav-bar--icon-text">Profile</span>
        </a>
    </div>
</nav>