<div class="card-1 align-items-center d-flex px-3 py-4">
    <div class="me-3">
        <div class="card-1--title mb-1">Stillness is the Key</div>
        <div class="card-1--author mb-2">by Ryan Holiday</div>
        <div class="card-1--category badge mb-3">Psychology</div>
        <div class="card-1--summary">In "Willpower Doesn't Work" by Benjamin Hardy, the author debunks the concept of relying on willpower to achieve success...</div>
    </div>
    <img class="card-1--cover-image" src="http://books.google.com/books/content?id=rUbzDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
</div>