@(userBook: UserBook)

@import org.apache.commons.lang3.BooleanUtils

<div class="card-2 p-4">
    @defining(userBook.getBook()) { book =>
        <a class="card-2--content-section cls-book-details-btn" data-book-id="@book.id" href="#">
            <div class="text-center"><img class="card-2--cover-image mb-3" src="@book.getGbBook().getThumbnailUrl()"></div>
            <div class="card-2--title fs-6 fw-bold mb-1">@book.getTitle(50)</div>
            <div class="d-flex align-items-center fs-7 mb-2">
                <div class="card-2--author fw-medium me-2">@book.getAuthor().getName()</div>
                @_categoryPillSmall(userBook.getCategory())
            </div>
            <div class="card-2--summary fs-7">@book.getDescription(150)...</div>
        </a>

        <div class="card-2--icon-buttons d-flex justify-content-between mx-auto mt-4">
            <a id="id-card2-shuffle-btn" data-user-book-id="@userBook.id" href="#">@_circularIcon("fas fa-random")</a>
            <a class="cls-share-btn" data-share-url="@routes.My.book(book.id)" data-share-title="@book.getTitle(50)" href="#">@_circularIcon("fa-solid fa-arrow-up-from-bracket")</a>
            <a id="id-element-book-@book.id" class="cls-favorite-btn" data-book-id="@book.id" href="#">
                @if(userBook.getFavorited() != null) {
                    @_circularIcon("fa-solid fa-heart")
                } else {
                    @_circularIcon("fa-regular fa-heart")
                }
            </a>
            <a class="cls-more-options-modal-btn" data-good-reads-url="@book.getGrAbsoluteUrl()" data-amazon-url="@book.getAmazonUrl()" data-google-books-preview-url="@book.getGbBook().getPreviewLink()" data-youtube-url="@book.getYoutubeUrl()" href="#">@_circularIcon("fas fa-ellipsis-h")</a>
        </div>
    }
</div>