<div class="more-options-modal modal fade">
    <div class="modal-dialog fixed-bottom m-0">
        <div class="modal-content px-4 py-3">
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-goodreads me-3"></i>
                <a id="id-good-reads-element" href="#" target="_blank">Review on GoodReads</a>
            </div>
            <hr class="my-2">
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-amazon me-3"></i>
                <a id="id-amazon-element" href="#" target="_blank">Buy on Amazon</a>
            </div>
            <hr class="my-2">
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-youtube me-3"></i>
                <a id="id-youtube-element" href="#" target="_blank">Summaries on Youtube</a>
            </div>
            <div class="cls-google-books-preview-btn-wrapper">
                <hr class="my-2">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-eye me-3"></i>
                    <a class="cls-google-books-preview-btn" href="#" target="_blank">Preview on Google Books</a>
                </div>
            </div>
        </div>
    </div>
</div>