@(quote: Quote)

@import org.apache.commons.lang3.StringUtils

<div class="quote px-2 py-3">
    <div class="d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-quote-left align-self-start"></i>
        <div class="quote-text mx-3">
            @quote.getText()
            @if(StringUtils.isNotBlank(quote.getAuthorName())) {
                <div class="quote--author text-end">– @quote.getAuthorName()</div>
            }
        </div>
        <i class="fa-solid fa-quote-right align-self-end"></i>
    </div>
</div>
