@()

@rateBookStars() = {
    <div class="rate-book--stars d-flex gap-2">
        <i class="rate-book--star-icon fa-regular fa-star" data-value="1"></i>
        <i class="rate-book--star-icon fa-regular fa-star" data-value="2"></i>
        <i class="rate-book--star-icon fa-regular fa-star" data-value="3"></i>
        <i class="rate-book--star-icon fa-regular fa-star" data-value="4"></i>
        <i class="rate-book--star-icon fa-regular fa-star" data-value="5"></i>
    </div>
}

<div class="rate-book d-flex align-items-center">
    <div class="me-3">Rate this book:</div>
    @rateBookStars()

    <div id="id-rate-book-modal" class="rate-book--modal modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <a data-bs-dismiss="modal" class="ms-auto" href="#">@_circularIcon("fa-solid fa-xmark")</a>
                </div>
                <div class="modal-body mt-n5 pt-0 pb-4">
                    <h4>Thanks for rating!</h4>
                    <p>You can also share your thoughts about the book (Optional).</p>
                    @rateBookStars()
                    <textarea class="w-100 my-4" placeholder="Share your thoughts about the book (Optional)..." rows="4"></textarea>
                    <a type="button" class="btn btn-primary" href="#">Submit Your Review</a>
                </div>
            </div>
        </div>
    </div>
</div>