@(book: models.Book, userBook: UserBook, sameAuthorBooks: List[Book], sameSubCategoryBooks: List[Book])

@import org.apache.commons.lang3.BooleanUtils

@layout.main("RaLearn", "book-page") {
    <div class="book">
        <a class="top-left-btn-group" onclick="event.preventDefault(); homeGet();" href="#">@_circularIcon("fas fa-arrow-left")</a>
        <div class="top-right-btn-group">
            <div class="d-flex">
                @if(userBook != null) {
                <a id="id-element-book-@book.id" class="cls-favorite-btn me-3" data-book-id="@book.id" href="#">
                    @if(BooleanUtils.isTrue(userBook.getFavorite())) {
                     @_circularIcon("fa-solid fa-heart")
                    } else {
                     @_circularIcon("fa-regular fa-heart")
                    }
                </a>
                }
                <a class="cls-share-btn" data-share-url="@routes.My.book(book.id)" data-share-title="@book.getTitle(50)" href="#">@_circularIcon("fa-solid fa-arrow-up-from-bracket")</a>
            </div>
        </div>

        <div class="book--cover-section">
            <div class="text-center"><img class="book--cover-section-image" src="@book.getGbBook().getThumbnailUrl()"></div>
        </div>
        <div class="book--details">
            <h4 class="book--details-title">@book.getTitle()</h4>
            <div class="book--details-author mb-4">@book.getAuthor()</div>
            <p>@Html(book.getHtmlDescription())</p>
        </div>

        <div class="book--author-books mt-5">
            <h4 class="fw-600 mb-3">Also by @book.getAuthor()</h4>
            <div class="scrollable-cards-x">
                @for(book <- sameAuthorBooks) {
                    <div class="scrollable-card-x">
                        @_card3(book)
                    </div>
                }
            </div>
        </div>

        <div class="book--category-books">
            <h4 class="fw-600 mb-3">You May Also Like in book.getCategory().getTitle()</h4>
            <div class="scrollable-cards-x">
                @for(book <- sameSubCategoryBooks) {
                    <div class="scrollable-card-x">
                        @_card3(book)
                    </div>
                }
            </div>
        </div>

        <div class="text-center">
            <a class="cls-more-options-modal-btn btn btn-primary mb-4" data-good-reads-url="@book.getGrAbsoluteUrl()" data-amazon-url="@book.getAmazonUrl()" data-google-books-preview-url="@book.getGbBook().getPreviewLink()" data-youtube-url="@book.getYoutubeUrl()" href="#">More Options</a>
        </div>
    </div>

    @layout._footerNavBar("home-tab")
}