@(book: models.Book, userBook: UserBook, sameAuthorBooks: List[Book], sameSubCategoryBooks: List[Book])

@import org.apache.commons.lang3.BooleanUtils
@import org.apache.commons.lang3.StringUtils
@import org.springframework.util.CollectionUtils
@import utils.CommonUtil

@accordion(id: String, label: String, items: List[String], singleItem: String, collapse: Boolean) = {
    <div class="accordion-plus-minus accordion accordion-flush mb-4" id="accordion-@id">
        <div class="accordion-item">
            <div class="accordion-header ">
                <a class="accordion-button @if(BooleanUtils.isTrue(collapse)){collapsed} px-3" data-bs-toggle="collapse" data-bs-target="#collapse-@id" href="">@label</a>
            </div>
            <div id="collapse-@id" class="accordion-collapse @if(BooleanUtils.isTrue(collapse)){collapse}else{show}" data-bs-parent="#accordion-@id">
                <div class="accordion-body mt-4 p-0">
                    @if(!CollectionUtils.isEmpty(items)) {
                        @for(item <- items) {
                            <li>@item</li>
                        }
                    } else {
                        @singleItem
                    }
                </div>
            </div>
        </div>
    </div>
}

@layout.main("RaLearn", "book-page") {
    @defining(book.getCptBook()) { cptBook =>
        <div class="book">
            <a class="top-left-btn-group" onclick="event.preventDefault(); homeGet();" href="#">@_circularIcon("fas fa-arrow-left")</a>
            <div class="top-right-btn-group">
                <div class="d-flex">
                    @if(userBook != null) {
                        <a id="id-element-book-@book.id" class="cls-favorite-btn me-3" data-book-id="@book.id" href="#">
                            @if(BooleanUtils.isTrue(userBook.getFavorite())) {
                                @_circularIcon("fa-solid fa-heart")
                            } else {
                                @_circularIcon("fa-regular fa-heart")
                            }
                        </a>
                    }
                    <a class="cls-share-btn" data-share-url="@routes.My.book(book.id)" data-share-title="@book.getTitle(50)" href="#">@_circularIcon("fa-solid fa-arrow-up-from-bracket")</a>
                </div>
            </div>

            <div class="book--cover-section">
                <div class="text-center"><img class="book--cover-section-image" src="@book.getGbBook().getThumbnailUrl()"></div>
            </div>
            <div class="book--details mb-4">
                <h4 class="book--details-title">@book.getTitle()</h4>
                <div class="book--details-author mb-2">@book.getAuthor().getName()</div>

                <div class="d-flex flex-wrap gap-2 mb-4">
                    @defining(book.getRatingCategoryText()) { ratingCategoryText =>
                        @if(ratingCategoryText != null){<div class="rating-pill">@ratingCategoryText</div>}
                    }
                    @for(bookCategory <- book.getBookCategories()) {
                        @_categoryPillSmall(bookCategory.getCategory())
                    }
                </div>

                <hr>

                <div class="d-flex align-items-center mb-1">
                    <i class="fas fa-lightbulb me-3"></i>
                    <div class="fw-bold">@if(cptBook != null){@cptBook.getHeadline()}else{Mastering Focus in a Distracted World}</div>
                </div>
                <div class="fst-italic">@if(cptBook != null){@cptBook.getTeaser()}else{A practical guide to achieving high levels of productivity by cultivating deep focus and eliminating distractions.}</div>

                <hr>
                @_spacer(4)
            </div>

            <div class="book--tabs mb-4">
                <ul class="nav nav-pills d-flex bg-white rounded-pill p-2">
                    <div class="nav-item flex-grow-1 text-center">
                        <a class="nav-link rounded-pill text-decoration-none active" data-bs-toggle="tab" href="#book">Overview</a>
                    </div>
                    <div class="nav-item flex-grow-1 text-center">
                        <a class="nav-link rounded-pill text-decoration-none" data-bs-toggle="tab" href="#author">Author</a>
                    </div>
                    <div class="nav-item flex-grow-1 text-center">
                        <a class="nav-link rounded-pill text-decoration-none" data-bs-toggle="tab" href="#insights">Insights</a>
                    </div>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container active show" id="book">
                        @if(book.getCptBook() != null){@Html(book.getCptBook().getDescription())}else{@Html(book.getHtmlDescription())}
                        @**<p>@Html(book.getHtmlDescription())</p>**@
                        @**
                        <p>Deep Work" is Cal Newport's manifesto for achieving success in a world filled with distractions. Newport argues that the ability to focus deeply on cognitively demanding tasks is a rare and valuable skill in the modern workplace.</p>
                        <p>Through practical strategies, case studies, and scientific insights, he explains how to create environments conducive to deep work and avoid the pitfalls of shallow work. This book is an essential tool for anyone striving for excellence and meaningful accomplishments.</p>
                        **@

                        <div class="mb-4">
                            <h4 class="fw-600 mb-3">Notable Quotes</h4>
                            @defining(book.getBookQuotes()) { bookQuotes =>
                                @if(!CollectionUtils.isEmpty(bookQuotes)) {
                                    @for(bookQuote <- bookQuotes) {
                                        @_quote(bookQuote)
                                    }
                                }
                            }
                        </div>

                        @if(userBook != null && userBook.getUser() != null) {
                            @_rateBook(userBook.getUser().getId(), book.getId())
                        }

                        @_spacer(4)

                        <h4 class="fw-600 mb-3">Related Books</h4>
                        <div class="scrollable-cards-x">
                            @for(book <- sameSubCategoryBooks) {
                            <div class="scrollable-card-x">
                                @_card3(book, false)
                            </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="author">
                        <h4 class="fw-600 mb-3">About the Author</h4>
                        <p>@if(book.getCptBook() != null){@book.getAuthor().getBio()}else{Cal Newport is a computer science professor and writer known for his expertise in productivity and digital minimalism.}</p>

                        <div class="mb-4">
                            <h4 class="fw-600 mb-3">Quotes by @book.getAuthor().getName()</h4>
                            @defining(book.getAuthorQuotes()) { authorQuotes =>
                                @if(!CollectionUtils.isEmpty(authorQuotes)) {
                                    @for(authorQuote <- authorQuotes) {
                                        @_quote(authorQuote)
                                    }
                                }
                            }
                        </div>

                        @_spacer(5)
                        <h4 class="fw-600 mb-3">Other works by @book.getAuthor().getName()</h4>
                        <div class="scrollable-cards-x">
                            @for(book <- sameAuthorBooks) {
                            <div class="scrollable-card-x">
                                @_card3(book, false)
                            </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="insights">
                        @if(cptBook != null) {
                            @accordion("tc", "Theme and Concept", CommonUtil.splitToList(cptBook.getThemeConcept()), null, false)
                            @accordion("kts", "Key Takeaways", CommonUtil.splitToList(cptBook.getKeyTakeaways()), null, false)
                            @accordion("ais", "Actionable Ideas", CommonUtil.splitToList(cptBook.getActionableIdeas()), null, false)
                            @accordion("ta", "Target Audience", null, cptBook.getAudience(), false)
                            @accordion("cst", "Content Style and Tone", null, cptBook.getStyleTone(), false)
                            @accordion("usp", "USP", null, cptBook.getUsp(), false)
                            @accordion("topics", "Topics", null, cptBook.getTopics(), false)
                            @if(StringUtils.isNotBlank(cptBook.getSetting())) {
                                @accordion("setting", "Setting", null, cptBook.getSetting(), false)
                            }
                            @accordion("ips", "Impactful Passages", CommonUtil.splitToList(cptBook.getImpactfulPassages()), null, false)
                        }
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a class="cls-more-options-modal-btn btn btn-primary my-4" data-good-reads-url="@book.getGrAbsoluteUrl()" data-amazon-url="@book.getAmazonUrl()" data-google-books-preview-url="@book.getGbBook().getPreviewLink()" data-youtube-url="@book.getYoutubeUrl()" href="#">More Options</a>
            </div>
        </div>
    }
    @layout._footerNavBar("home-tab")
}