@(user: User, randomBooksAcross: List[Book])

@layout.main("RaLearn", "discover-page") {
    <div class="discover">
        <div class="d-flex align-items-center mb-5">
            <a id="id-discover-hamburger-btn" class="me-3" href="#"><i class="discover--hamburger-icon fa-solid fa-bars"></i></a>
            <div class="discover--search-bar w-100 position-relative">
                <!--<i class="position-absolute fas fa-search"></i>-->
                <i class="discover--search-bar-icon position-absolute fa-solid fa-magnifying-glass"></i>
                <input id="id-discover-search-input" type="text" placeholder="Title, author etc.">
            </div>
        </div>

        <!-- Side bar -->
        <nav id="side-menu" class="side-menu py-3">
            <div class="d-flex justify-content-between align-items-center mb-4 px-3">
                <h1 class="menu-title">Categories</h1>
                <a id="close-menu" class="close-btn" href="#">@_circularIcon("fa-solid fa-xmark")</a>
            </div>
            <div class="accordion accordion-flush" id="accordion-categories">
                @for(parentCategory <- Category.findParentCategories()) {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-@parentCategory.getId()" href="">@parentCategory.getTitle()</a>
                        </h2>
                        <div id="collapse-@parentCategory.getId()" class="accordion-collapse collapse" data-bs-parent="#accordion-categories">
                            <div class="accordion-body ms-3 py-0">
                                @for(category <- Category.findCategoriesByParent(parentCategory.id)) {
                                    <div class="d-flex align-items-center mb-3">
                                        <i class="@category.getFaIconClass()"></i>
                                        <a class="cls-category-btn" data-subcategory-id="@category.getId()" href="#">@category.getTitle()</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </nav>

        <!-- Search Modal -->
        <div class="modal bg-white" id="id-discover-search-modal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content px-3">
                    <div class="fixed-top bg-white py-4 px-3">
                        <div class="d-flex align-items-center">
                            <a class="me-3" data-bs-dismiss="modal" href="#"><i class="discover--hamburger-icon fa-solid fa-angle-left"></i></a>
                            <div class="discover--search-bar w-100 position-relative">
                                <i class="discover--search-bar-icon position-absolute fa-solid fa-magnifying-glass"></i>
                                <input id="id-discover-search-modal-input" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Placeholder for html replacement -->
                    <div id="id-book-search-results-target"></div>

                    <div class="text-center">
                        <i class="fa-solid fa-magnifying-glass mb-5" style="font-size: 120px; margin-top: 180px; text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"></i>
                        <h4 class="mb-3 fw-bold">Discover your next favorite read...</h4>
                        <div class="mb-3">Dive into a world of ideas, stories, and inspiration.</div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="mb-4">Categories</h4>
        <div class="row">
            @for(parentCategory <- Category.findParentCategories()) {
                <div class="col-6">
                    <a id="id-discover-category" class="discover--category-block d-flex justify-content-center align-items-center text-center px-3" data-category-id="@parentCategory.id" href="#">
                        <div class="discover--category-block-text">@parentCategory.getTitle()</div>
                    </a>
                </div>
            }
        </div>

        <h4 class="my-4">Your Preferred Categories</h4>
        @for(userCategory <- user.userCategories) {
            @defining(userCategory.getCategory()) { category =>
                <a id="id-discover-preferred-subcategory" class="discover--preferred-subcategory-block d-flex justify-content-between align-items-center px-3" data-preferred-subcategory-id="@category.id" href="#">
                    <div class="d-flex align-items-center">
                        <i class="discover--preferred-subcategory-block-icon @category.getFaIconClass() me-3"></i>
                        <div class="discover--preferred-subcategory-block-text">@category.getTitle()</div>
                    </div>
                </a>
            }
        }

        <h4 class="mt-5 mb-4">Selections Across All Categories</h4>
        @for(book <- randomBooksAcross) {
            @_card4(book)
        }
    </div>

    @layout._footerNavBar("discover-tab")
}