@(user: User)

@import org.apache.commons.lang3.StringUtils

@main("RaLearn") {
    <div class="home">
        <div class="container-fluid pt-0">
            <div class="logo mt-3 mb-4">
                <span class="logo--ra">Ra</span>
                <span class="logo--learn">Learn</span>
            </div>

            <h4 class="mb-3">GET STARTED</h4>
            <div class="mb-5">
                @for(userBook <- UserBook.findTodayUserBooks()) {
                    @_card2(userBook.book)
                }
            </div>

            @for(userCategory <- user.userCategories) {
                <h4 class="mb-3">@userCategory.getCategory().getDisplayTitle()</h4>
                <div class="scrollable-cards-x">
                    @for(userBook <- UserBook.findPastUserBooksBySubCategory(userCategory.getCategory().title())) {
                        <div class="scrollable-card-x me-3">
                            @_card3(userBook.book)
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    @sections._footerNavBar()
}