@(user: User, userBooks : List[UserBook])

@import org.apache.commons.lang3.StringUtils

@main("RaLearn") {
    <div class="home">
        <div class="container-fluid py-0">
            <div class="logo mt-3 mb-4">
                <span class="logo--ra">Ra</span>
                <span class="logo--learn">Learn</span>
            </div>

            <h4 class="mb-3">GET STARTED</h4>
            @for(userBook <- userBooks) {
                @_card2(userBook.book)
            }

            @for(userCategory<- user.userCategories) {
                <h4 class="mt-5 mb-3">@userCategory.getCategory().getTitle()</h4>
                <div class="scrollable-cards-x">
                    @for(userBook <- userBooks) {
                        <div class="scrollable-card-x me-3">
                            @_card3(userBook.book)
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}