@(user: User)

@import org.apache.commons.lang3.StringUtils

@layout.main("RaLearn", "home-page") {
    <div class="home">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <span class="logo--ra">Ra</span>
                <span class="logo--learn">Learn</span>
            </div>
            <div class="home--top-section fs-5">
                <a id="id-recent-list-btn" href="#">
                    <i class="home--top-section-icon fa-solid fa-clock-rotate-left me-2"></i>
                </a>
                <a id="id-favorite-list-btn" href="#">
                    <i class="home--top-section-icon fa-regular fa-heart me-3"></i>
                </a>
            </div>
        </div>

        @sp(4)

        @_quote(Quote.getRandomQuote())

        @sp(4)

        <h5>Today's Picks</h5>
        <div class="mb-4">
            @for(userBook <- UserBook.findTodayUserBooks(user.id)) {
                @_card2(userBook)
            }
        </div>

        <h5>Previous Highlights</h5>
        @for(userCategory <- user.getUserCategories()) {
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="mb-0">@userCategory.getCategory().getTitle()</h6>
                <a class="cls-category-list-btn home--more-link me-3" data-category-id="@userCategory.getCategory().getId()" href="#">More</a>
            </div>
            <div class="d-flex align-items-start">
            <div class="scrollable-cards-x">
                @for(userBook <- UserBook.findPastUserBooksByCategory(user.id, userCategory.getCategory().getId())) {
                    <div class="scrollable-card-x">
                        @_card3(userBook.book)
                    </div>
                }
            </div>
            </div>
        }
    </div>

    @layout._footerNavBar("home-tab")
}